# EASEHUB CAMPUS COMMERCE — ENVIRONMENT CONFIGURATION TEMPLATE
VITE_APP_NAME="EaseHub"
VITE_APP_ENV="development"
VITE_APP_URL="http://localhost:5173"

# Google Authentication Client ID
VITE_GOOGLE_CLIENT_ID="249523355187-un7401cet203k31pluhp3mujn3lpt6b5.apps.googleusercontent.com"

# Google Firebase Configuration (Free 10,000 Phone OTP SMS/Month & Unlimited Email OTP)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_MEASUREMENT_ID=""

# WhatsApp Concierge Hotline
VITE_WHATSAPP_NUMBER="918102848776"
